@using Reference.Framework.Model;
@model Reference.Framework.Web.ViewModels.GearIndexViewModel
<h2>Gear</h2>

<div class="row">

    @foreach (var gear in Model.Gears)
    {
        <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="width: 18rem;">
                @if (@gear.GearTypeId == (int)GearType.RunningShoes)
                {
                    <img class="card-img-top" src="@Url.Content("~/Images/noun_783354_cc.png")" alt="Running Shoe">
                }
                else if (@gear.GearTypeId == (int)GearType.Bike)
                {
                    <img class="card-img-top" src="@Url.Content("~/Images/noun_837885_cc.png")" alt="Bike">
                }
                <div class="card-body">
                    <h5 class="card-title">@gear.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@gear.GearType</h6>
                    <p class="card-text">@gear.Description</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@gear.Manufacturer @gear.GearModel</li>
                        <li class="list-group-item">Size @gear.Size</li>
                        <li class="list-group-item">@Html.DisplayFor(model => gear.CurrentMileage) Miles</li>
                        <li class="list-group-item">Started @gear.DatePurchased.ToString("MMMM d, yyyy")</li>
                    </ul>
                    <a href="/Gear/Edit/@gear.GearId" class="card-link">Edit</a>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    @Html.ActionLink("Add Gear", "Create", "Gear", null, new { @class = "btn btn-primary " })
</div>
