@using Reference.Framework.Web.Helpers;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Reference ASP.NET MVC application for .NET Framework">
    <meta name="author" content="Marc Robards (marc@robards.org)">
    <title>
        Workout
    </title>
    <link rel="icon" href="@Url.Content("~/content/favicon.ico")" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("Styles", required: false)

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Workout</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item @Html.IsSelected(actions: "Index", controllers: "Home", cssClass: "active")">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item @Html.IsSelected(actions: "Index", controllers: "Gear", cssClass: "active")">
                    <a class="nav-link" href="/Gear">Gear</a>
                </li>
                <li class="nav-item @Html.IsSelected(actions: "Index", controllers: "Workout", cssClass: "active")">
                    <a class="nav-link" href="/Workout">Workout</a>
                </li>
            </ul>
            @Html.ActionLink("Log Out", "LogOut", "Auth", null, new { @class = "navbar-text" });
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>